.g-hidden {
    display: none;
}

.m-dotted {
    color: #106d9f;
    border-bottom: 1px dotted #106d9f;
    cursor: pointer;
}

.m-dotted:hover {
    color: #c00;
    border-color: #c00;
}

.g-line {
    zoom: 1;
}

.g-line:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* layouts */
.l-container {
    width: 720px;
    padding: 0 40px;
    margin: 0 auto;
}

/* header */
.b-header {
    position: relative;
    padding-top: 32px;
}

.b-header .title {
    float: left;
    padding: 18px 0 0 0;
}

.b-header .title .name {
    float: left;
    padding: 4px 12px;
    background: #86c7e0;
    color: #fff;
    font-size: 36px;
    line-height: 40px;
}

.b-header .title .slogan {
    padding: 4px 0 0 13px;
    color: #545454;
    font: italic 18px/22px Georgia, "Century Schoolbook L", Serif;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: .2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  line-height: 1.5;
  color: #373a3c;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}